@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "tailwindcss";

:root {
  --primary : #3ECF8E;
  --primary-100: #00C573;
  --primary-200: #006239;
  --background: #121212;
  --box:#171717;
  --muted:#898989;
  --border-muted:#454545;
  --border-active:#FAFAFA;

}

body{
  background-color: #121212;
  color: #ffffff;
  font-family:"Inconsolata", monospace;
}

.spotlight{
  --border-width: 2px;
  --spot:radial-gradient(
    circle at var(--x) var(--y),#fafafa62,transparent 150px
  );
  background-attachment: fixed;
}

.spotlight::before{
  content: '';
  background: var(--spot),#252525;
  mask: 
  linear-gradient(#fff,#fff) 50% 0 / 100% var(--border-width) no-repeat,
  linear-gradient(#fff,#fff) 100% 0 / var(--border-width) 100% no-repeat,
  linear-gradient(#fff,#fff) 50% 100% / 100% var(--border-width) no-repeat,
  linear-gradient(#fff,#fff) 0 0 / var(--border-width) 100% no-repeat;
  mask-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: inherit;
}

@theme inline{
  --font-console: "Inconsolata", monospace;
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-background: var(--background);
  --color-box: var(--box);
  --color-muted: var(--muted);
  --color-border-muted: var(--border-muted);
  --color-border-active: var(--border-active);

}