@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "tailwindcss";

:root {
  --primary : #3ECF8E;
  --primary-100: #00C573;
  --primary-200: #006239;
  --background: #121212;
  --box:#171717;
  --muted:#898989;
  --border-muted:#454545;
  --border-active:#FAFAFA;

}

body{
  background-color: #121212;
  color: #ffffff;
  font-family:"Inconsolata", monospace;
}

.spotlight{
  --border-width: 2px;
  --spot:radial-gradient(
    circle at var(--x) var(--y),#fafafaa6,transparent 180px
  );
  background-attachment: fixed;
}
.spotlight::before{
  content: '';
  background: var(--spot),#252525;
  mask: 
  linear-gradient(#fff,#fff) 50% 0 / 100% var(--border-width) no-repeat,
  linear-gradient(#fff,#fff) 100% 0 / var(--border-width) 100% no-repeat,
  linear-gradient(#fff,#fff) 50% 100% / 100% var(--border-width) no-repeat,
  linear-gradient(#fff,#fff) 0 0 / var(--border-width) 100% no-repeat;
  mask-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: inherit;
}

@theme inline{
  --font-console: "Inconsolata", monospace;
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-background: var(--background);
  --color-box: var(--box);
  --color-muted: var(--muted);
  --color-border-muted: var(--border-muted);
  --color-border-active: var(--border-active);
  --breakpoint-xs:360px;
  --breakpoint-xxs:300px;

}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

.cut-top-left {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}


.cut-dual {
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}


.cut-all-four {
  clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}


.cut-top-right {
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
}
